@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
   .contact-box {
      @apply flex items-center w-8 h-8 mr-3 rounded-full border-2 border-gray-800 text-gray-800;
   }
   .contact-box:hover {
      @apply text-white border-0;
   }
   .dropdown:hover .dropdown-menu {
      @apply visible;
      
   }
   .dropdown-menu:before{
      content: "";
      @apply block absolute;
      top: -45px;
      right: 0;
      left: 0;
      height: 45px;
   }
   .dropdown-menu>li>a{
      @apply block py-2 pl-2 pr-12 text-white;
   }
   .dropdown-menu>li>a:hover {
      @apply text-d-niagara;
   }
}